body {
  padding: 0;
  margin: 0;
  background-color: #a9f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Poppins, sans-serif;
}

.imagem {
  width: 120px;
  height: 120px;
}

.card {
  width: 300px;
  background-color: #8ab2c8;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cardHeader {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.cardHeader::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #AFEEEE;
  display: block;
  margin: 10px auto;
  margin-top: -20px;
}

.cardContent label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.cardContentArea {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.cardContentArea input {
  margin-top: 5px;
  padding: 0 1px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fdfdfd;
  outline: none;
  color: #fff;
  font-size: 20px;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.cardFooter .submit {
  width: 100%;
  height: 40px;
  background-color: #3f56e7;
  border: none;
  color: #fdfdfd;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14.2px;
  font-weight: bold;
}
