.table {
    display: table !important;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    margin-left: 10px;
    width: 90%; /* Ocupa 90% da largura do componente pai */
    max-width: 1000px; /* Define um limite máximo */
    margin: 0 auto; 
    

}
/* parte para caso esteja scroll*/
.tableScrool{
    height:100%;
    overflow: auto;
    max-height: 600px;
    width:auto;
}

.logo {
    /*logo pet tag*/
    width: 180px;
    height: 180px;
    margin: auto;
    display: block;
}

.headersConteudo {
    /*quadrado branco*/
    font-family: system-ui;
    font-size: 16px;
    color:#000000;
    border: 8px solid #e6e6e6;
    background-color: #f8fbfc;
    border-radius: 25px;
    display: table;
    
    padding: 30px 30px 30px 40px;
    width: 90%; /* Ajuste o percentual conforme necessário */
    margin: 0 auto;
    
    
    
}

.corpo {
    /*cor atras do corpo*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #8ab2c8;
    padding: 40px;
    width: 800px;
    border-radius: 25px;
    margin: 0px auto;
    box-shadow: 5px 5px 35px #aed4e6;
    display: table;
    visibility: visible !important;
    opacity: 1 !important;
    padding-left: 40px;
    max-height: 900px; /* Ajuste para a altura desejada */
    
    

}

.headersConteudo th {
    /*cabeçalho */
    background-color: #e1eef6;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #ecdbdb;
    border-bottom-color: #BFBFBF;
    border-left-color: #DFDFDF;
    border-radius: 10px;


}
.headersConteudo td {
    /*conteudos*/
    border: 2px solid #cacaca;
    height: 5px;
    text-decoration: none;
    padding: 10px;
    background: #e5e5e5;
    border-radius: 8px;
}

td:hover{
    background-color: #aed4e6;
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    text-align: center;
}

.icon {
    /* foto, whatsapp, excluir e editar*/
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.tags {
    /*foto de responsavel, pet e telefone*/
    width: 35px;
    height: 35px;
}

.button {
    /* button, whatsapp, excluir e editar*/
    background-color: transparent;
    border: none;

}

.headersConteudo th:nth-child(4),
.headersConteudo th:nth-child(5),
.headersConteudo th:nth-child(6),
.headersConteudo td:nth-child(4),
.headersConteudo td:nth-child(5),
.headersConteudo td:nth-child(6) {
    width: 50px; /* Largura fixa para colunas de ícones */
    text-align: center;
} 

