.table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
}

.logo{
    padding-left: 35%;
    padding-top: 25px;
    width: 120px;
    height: 120px;
}

.headersConteudo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 20%);
    border: 10px solid #e6e6e6;
    background-color: #f8fbfc;
    border-radius: 25px;
    display: block;
    padding: 5px;
    margin: 20px;

    
}
.corpo{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #E0FFFF;
    padding: 25px;
    width: 500px;
    border-radius: 25px;
    margin: 0px auto;
    box-shadow: 5px 5px 50px black;
    
    
}
.headersConteudo th {
    background-color: #ebebeb;
    height:15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #ecdbdb;
    border-bottom-color: #BFBFBF;
    border-left-color: #DFDFDF;
    border-radius: 10px;
}
.headersConteudo td {
    border: 2px solid #cac7c7;
    height: 40px;
    text-decoration: none;
    padding: 15px;
    background: #DFDFDF;
    border-radius: 10px;
    
}

.leftAlign {
    text-align: left;
}
  
.centerAlign {
    text-align: center;
}
  

.editar {
    width: 50px;
    height: 50px;
    background-image:url('../Assets/Images/editar.png') ;
    cursor:pointer;
    background-size: cover; 
    background-position:center;
    border-radius: 10px;

}

.excluir {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image:url('../Assets/Images/excluir.png') ;
    background-size: cover; 
    background-position: center;
    border-radius: 10px;

}